{% extends 'base.html.twig' %}

{% block title %}Points{% endblock %}

{% block body %}
    <h1>Points</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point.id }}</td>
            </tr>
            <tr>
                <th>TimeOfGenerate</th>
                <td>{{ point.timeOfGenerate ? point.timeOfGenerate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ point.coordinates ? point.coordinates|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ point.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_points_index') }}">back to list</a>

    <a href="{{ path('app_points_edit', {'id': point.id}) }}">edit</a>

    {{ include('points/_delete_form.html.twig') }}
{% endblock %}
